#!/bin/bash

LOG4J_CONFIGURATION_FILE=/root/ftcorp/log.xml pantheon --data-path /root/ftcorp/data --genesis-file=/root/ftcorp/data/genesis.json --network-id {{net_id}} --permissions-nodes-contract-enabled --permissions-nodes-contract-address=0x0000000000000000000000000000000000009999 --config-file=/root/ftcorp/config.toml --bootnodes