[Unit]
Description=Besu Enterprise Ethereum java client
After=syslog.target network.target

[Service]
User={{ besu_user }}
Group={{ besu_group }}
Environment=HOME=/home/{{ besu_user }}
{% if besu_log4j_config_file != "" %}
Environment=LOG4J_CONFIGURATION_FILE={{ besu_log4j_config_file }}
{% endif %}
{% if besu_env_opts %}
Environment='BESU_OPTS={{besu_env_opts|map('to_json')|join(' ')}}'
{% endif %}
Type=simple
{% if besu_cmdline_args %}
ExecStart=/bin/sh -c "{{ besu_current_dir }}/bin/besu --config-file={{ besu_config_dir }}/config.toml {{besu_cmdline_args|map('to_json')|join(' ')}} >> {{besu_log_dir}}/besu.log 2>&1"
{% else %}
ExecStart=/bin/sh -c "{{ besu_current_dir }}/bin/besu --config-file={{ besu_config_dir }}/config.toml >> {{besu_log_dir}}/besu.log 2>&1"
{% endif %}
SuccessExitStatus=143
Restart=on-failure
RestartSec=10s

[Install]
WantedBy=multi-user.target

